modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41350072
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GuardianInterface && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GuardianInterface/server/api && uvicorn main:app --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 5000
externalPort = 80
