modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41350072
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GuardianInterface && npm install && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
